/* CSS Document */
body
{
	margin: 10px 10px 10px 10px;
	padding: 0 auto; 
	background:url(../img/dgon.png) no-repeat bottom center;
	font-size:4em;
	font-family:Verdana, Geneva, sans-serif;
}

h2 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	color:#666;	
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;	
}

.mini {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#CCC;	
}

ul {
	padding-top: 10px;
}

li {
	list-style-type:none;
	padding-bottom: 10px;
}

li img {
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
li p {
	padding-bottom:30px;
}
